
# BEGIN BackUpWordPress
# Questo .htaccess file assicura che non è possibile scaricare i file di backup.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=52ac4ed4f3d61c20fa16cd6438d084db
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress