
# BEGIN BackUpWordPress
# Questo .htaccess file assicura che non è possibile scaricare i file di backup.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=22e3657717d6b4b571b48f90085ebe8a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress